.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: 900px;
    @media (max-width: 768px) {
      width: auto;
      flex-direction: column;
    }
  }
  &_group label {
    width: 100px;
    margin-right: 50px;
    @media (max-width: 768px) {
      width: auto;
      text-align: center;
      margin-right: 0;
    }
  }
  &_group input,
  &_group textarea {
    flex-grow: 1;
    height: 30px;
    @media (max-width: 768px) {
      width: 300px;
    }
  }
  &_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 50%;
    font-size: 20px;
    @media (max-width: 768px) {
      margin-left: 28%;
    }
  }
  &_button:hover {
    color: #0056b3;
  }
}

textarea {
  resize: vertical;
}
#message {
  height: 100px;
}
