.section {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  gap: 70px;
  @media (max-width: 768px) {
    flex-direction: column;
    width: auto;
    gap: 0;
    margin-left: auto;
  }

  &_photo {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    margin-top: 130px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 5);
    @media (max-width: 768px) {
      width: 150px;
      height: 170px;
    }
  }
  &_text {
    color: #5e5343;
    text-align: justify;
    @media (max-width: 768px) {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }
  &_title {
    font-size: 50px;
    margin-top: 100px;

    @media (max-width: 768px) {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .section_title_mobile {
      font-size: 30px;
      width: 70%;
    }
  }
  &_description {
    font-size: 20px;
    width: 70%;
  }
  &_subtitle {
    font-size: 30px;
    @media (max-width: 768px) {
      margin-top: 0;
      font-size: 20px;
      text-align: center;
    }
  }
}

.presentation_photo {
  margin-left: 200px;
  @media (max-width: 768px) {
    margin-left: 0px;
  }
}
